body {
    background-color: #121212!important;
}

.interface {
    padding: 20px;
}

#tellocamera {
    background-color: black;
    width: 100%;
    height: 100%;
}

.tilebutton {
    width: 40%;
    height: 60px;
    margin: 5px;
    background: #373737!important;
    color: #c3c3c3!important;
}

.controlsection {
    padding-left: 0px!important;
}